<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <form action="/login" method="post">
    <label for="title">username</label>
    <input type="text" name="username">
    <label for="title">password</label>
    <input type="text" name="password">
    <input type="submit" value="login">
  </form>
</body>

</html>